body {
  background: radial-gradient(40rem at left bottom, #bec3fc, #8c52ff);
  color: #fff;
  font-family: "Montserrat";
  opacity: 1;
}

h1 {
  font-size: 4.5rem;
  font-weight: 900;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

p {
  color: #7c7c82;
}

hr {
  border: none;
  border-top: solid rgba(255, 255, 255, 0.55) 0.5px;
  opacity: 1;
}

/* Headings */

.big-heading {
  line-height: 1.5;
  padding-bottom: 20px;
}

.title-description {
  color: #c6d0ed;
  font-weight: 100;
  line-height: 1.5;
  padding-bottom: 5%;
  padding-right: 25%;
  text-align: justify;
}

/* Navigation Bar */

.navbar {
  margin: 0;
  /* display: flex; */
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-link {
  font-family: "Montserrat";
  font-size: 1.2rem;
  font-weight: 300;
}

/* Modals */

.modal-body, .modal-header {
  color: black;
}

/* Buttons */

.search-button,
.search-form {
  margin-left: 4%;
}

.search-button:hover {
  background-color: green;
  color: white;
}

.floating-label {
  display: inline-block;
  color: #7c7c82;
  margin: 0 4% 0 0;
  position: relative;
  width: 45%;
}

.text-on-button {
  background-color: #c6d0ed;
  border-radius: 20px;
  color: black;
  opacity: 1;
}

.login-button {
  display: inline-block;
  background-color: #ffea9e;
  border-radius: 20px;
  color: #7c7c82;
  font-size: 25px;
  font-weight: 700;
  margin: 4% 4% 0 0;
  position: relative;
  width: 45%;
}

.icon {
  margin-right: 6%;
}

.register-button {
  background-color: #7a92d9;
  border-radius: 20px;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 5%;
  width: 45%;
}

.sign-up-button {
  font-size: 1.2rem;
  width: 100%;
}

/* Sections */

.navbar-section {
  margin: 0;
  padding: 0 5%;
  position: relative;
}

.template-section {
  margin: 0;
  padding: 0 5% 5%;
  position: relative;
}

.welcome-section {
  margin: 0;
  padding: 0 5%;
  position: relative;
  text-align: center;
}

.add-income-section, .add-expense-section {
  margin: 0;
  padding: 2% 35% 10%;
  position: relative;
  text-align: center;
}

.view-balance-section {
  margin: 0;
  padding: 2% 5% 2%;
  position: relative;
  text-align: center;
} 

.register-section {
  /* background-image: url("../images/budget-bg.png"); */
  background: radial-gradient(
      40rem at left bottom,
      rgba(190, 195, 252, 0.5),
      rgba(140, 82, 255, 0.5)
    ),
    url("../images/budget-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: radial-gradient(40rem at left bottom, #bec3fc, #8c52ff);
  border: solid rgba(255, 255, 255, 0.55) 1px;
  border-radius: 50px;
  position: relative;
  margin: 0;
  padding: 8% 35% 15%;
}

/* Template Section */

.dividing-line {
  position: relative;
  bottom: 10px;
}

.password-question {
  position: relative;
  display: inline-block;
  color: #c6d0ed;
  margin-top: 4%;
  text-align: center;
  text-decoration-line: none;
  vertical-align: middle;
  width: 45%;
}

.password-question:hover {
  color: #fff;
}

.account-question {
  color: #edebeb;
  margin: 10% 0 3%;
}

.total-cell, .total-sum {
  background-color: #ffea9e !important;
  color: #8c52ff;
  font-size: 1.2rem;
  font-weight: 700;
}

.row-sum {
  border: solid red 2px;
}

.piechart-image {
  width: 100%;
}

.piechart-container {
  position: relative;
  display: flex;
  justify-content: center;  
  align-items: center;
  margin: 0 2% 5%;
}

.summary-container {
  background-color: #fff;
  border: solid 1px;
  border-radius: 15px;
  color: #545454 !important;
  display: block;
  line-height: 1.5;
  margin: 0;
}

.summary-text {
  color: green;
  font-weight: bold;
  text-align: center;
}

.summary-table {
  margin-bottom: 3%;
}

/* Register Section */

.image-border {
  margin: 0;
  padding: 3% 5% 6%;
}

.register-title {
  margin: 0 auto 10%;
  text-align: center;
}

.data-container {
  margin: 0 auto;
  width: 100%;
  z-index: 1;
}

.data-form {
  background-color: #ffea9e;
}

.button-container {
  position: relative;
  display: inline-block;
  margin: 5% auto 0;
  width: 35%;
}

/* Account Section */

.account-container {
  text-align: left;
}

.choice-container {
  text-align: right;
}

/* Welcome Section */

.active-account {
  background-color: #fff;
  border: solid 1px;
  border-radius: 15px;
  color: #545454 !important;
  display: inline-block;
  line-height: 1.5;
  margin-left: 2px;
  padding: 0.5rem;
  text-align: left !important;
}

.active-account .icon {
  color: #545454;
  margin-right: 10px;
}

.account-icon {
  color: lightgreen;
  margin-left: 2%;
  margin-right: 2%;
  padding-bottom: 1%;
  right: 50%;
  transform: scale(2);
}

.welcome-banner {
  background-color: #c6d0ed;
  border-radius: 25px;
  margin: 0 25% 5%;
}

/* Second method to center text/element in a div */
/* display: flex;
  align-items: center;
  justify-content: center;   */

.welcome-text {
  color: black;
  line-height: 60px;
  text-align: center;
}

.welcome-section h4 {
  color: #fff;
  line-height: 1.5;
  margin-bottom: 5%;
  text-align: center;
}

.action-button {
  background-image: url('/images/golden-coin.png');
  background-repeat: no-repeat;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 300px;
  width: 300px;
}

.action-question {
  margin-bottom: 2%;
}

.action-container {
  padding-bottom: 5%;
}

.action-title {
  margin-bottom: 15%;
}

.coin-image {
  transform: scale(1.1);
  width: 100%;
}

.coins-container {
  display: inline-block;
  margin: 5%;
  vertical-align: bottom;
}

.income-icon, .expense-icon, .balance-icon {
  position: relative;
  bottom: 50%;
  color: #545454;
  display: block;
  transform: scale(7);
  z-index: 1;
}

.dropdown-button {
  text-align: center;
  padding-right: 4%;
}

/* Add Income&Section and View Balance Section */

.title-action {
  margin-bottom: 10%;
}

.table-description {
  color: #c6d0ed;
  text-align: justify;
}

.table-title {
  text-align: center;
}

/* Title Image */

.title-image {
  position: relative;
  left: 18%;
  top: 3%;
  width: 100%;
}

.clipped-image {
  background-color: #8c52ff;
  color: #565556;
  clip-path: polygon(
    10% 0%,
    82% 0%,
    82% 55%,
    60% 100%,
    25% 100%,
    25% 58%,
    24.5% 56%,
    24% 54%,
    23.5% 52%,
    21% 50%,
    10% 50%
  );
  width: 100%;
}

.parent {
  filter: url("#goo");
}

.app-title {
  color: rgba(255, 255, 255, 0.55);
}

.app-title:hover {
  color: #fff;
}

@media (max-width: 680px) {
  .register-section, .add-income-section {
    padding: 0 20% 0;
  }

  .button-container {
    width: 45%;
  }

  .welcome-banner {
    margin: 2% 5% 5%;
  }
}

@media (max-width: 991px) {
  .template-section {
    text-align: center;
  }

  .register-section, .add-income-section, .add-expense-section {
    padding: 10% 10% 23%;
  }

  .title-balance {
    padding-top: 5%;
  }

  .title-description {
    padding-right: 0;
  }

  .title-image {
    position: static;
    margin-left: 4%;
  }

  .login-button {
    margin: 4% 0 0 -4%;
  }

  .password-question {
    margin-left: 4%;
  }

  .nav-item, .icon {
    margin: 0 3% 0 0;
  }

  .search-form {
    margin-left: 0;
  }

  .account-icon {
    margin-right: 4%;
  }

  .summary-container {
    margin: 0 5%;
  }
}

@media (min-width: 992px) and (max-width: 1354px) {
  .register-section, .add-income-section, .add-expense-section {
    padding: 5% 15% 20%;
  }

  .title-image {
    top: 4%;
    left: 11%;
    transform: scale(1.2);
  }

  .sign-up-button {
    font-size: 1rem;
  }

  .account-icon {
    margin-right: 3%;
  }

  .nav-item, .nav-link {
    display: block;
  }

  .view-balance-section {
    padding: 2% 5% 1%;
  }
}

/* Footer Section */

.footer-section {
  background-color: #c6d0ed;
  padding: 2% 5%;
  text-align: center;
}
