body {
  background: radial-gradient(40rem at left bottom, #bec3fc, #8c52ff);
  color: #fff;
  font-family: "Montserrat";
}

p {
  color: #7c7c82;
}

/* Headings */

.big-heading {
  font-size: 4.5rem;
  font-weight: 900;
  line-height: 1.5;
  padding-bottom: 20px;
}

/* Sections */
.template-section {
  padding: 0 5% 8%;
}

/* Navigation Bar */

.navbar {
  margin: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-link {
  font-family: "Montserrat";
  font-size: 1.2rem;
  font-weight: 300;
}

/* Title Section*/
/* -- Empty -- */

/* Title Image */

.title-image {
  /* clip-path: polygon( 10% 0%,
                        82% 0%,
                        82% 55%,
                        60% 100%,
                        25% 100%,
                        25% 50%,
                        10% 50% ); */
  /* clip-path: path("M80 0 H694 V300 L480 490 H250 V180 L0 200 80 200 Z");*/
 
  position: relative;
  left: 18%;
  top: 5%;
  width: 100%;
}

.clipped-image {
  background-color: #8c52ff;
  color: #565556;
  clip-path: polygon(10% 0%, 82% 0%, 82% 55%, 60% 100%, 25% 100%, 25% 58%, 24.5% 56%, 24% 54%, 23.5% 52%, 21% 50%, 10% 50%);
  width: 100%;
}

.parent {
  filter: url('#goo');
}

.app-title {
  color: rgba(255, 255, 255, 0.55);
}

.app-title:hover {
  color: #fff;
}

@media (max-width: 991px) {

  .template-section {
      text-align: center;
  }

      .title-image {
      position: center;
      left: 3%;
  }
}

/* Footer Section */

.footer-section {
  background-color: #c6d0ed;
  padding: 2% 5%;
  text-align: center;
}
