body {
  background: radial-gradient(40rem at left bottom, #bec3fc, #8c52ff);
  color: #fff;
  font-family: "Montserrat";
  opacity: 1;
  /*min-height: 100vh;*/
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 4.5rem;
  font-weight: 900;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

p {
  color: #7c7c82;
}

hr {
  border: none;
  border-top: solid rgba(255, 255, 255, 0.55) 0.5px;
  opacity: 1;
}

td {
  font-size: 0.8rem;

}

th {
  font-size: 0.9rem;
  text-align: center;
}

/* Headings */

.big-heading {
  line-height: 1.5;
  padding-bottom: 10px;
}

.title-description {
  color: #c6d0ed;
  font-weight: 100;
  line-height: 1.5;
  margin: 0 auto;
  padding: 0 25% 2% 0;
  text-align: justify;
}

/* Navigation Bar */

.navbar {
  margin: 0;
  /* display: flex; */
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-link {
  font-family: "Montserrat";
  font-size: 1.2rem;
  font-weight: 300;
}

/* Tables */

/*.amount-table-field {
}*/

.category-table-field .details-table-field {
  width: 10rem;
}

.date-table-field {
  width: 6rem;
}

.icons-table-field {
  width: 5rem;
}

.table-icon {
  margin: 0 0.5rem;
}

.hover-icon {
  display: none;
}

.link {
  display: none;
}

.link:hover {
  visibility: visible;
}

.text-to-right {
  text-align: right;
}

.text-to-center {
  text-align: center;
}

/* Modals */

.modal-body, .modal-header {
  color: black;
}

.settings-title {
  color: #1D5D9B;
  font-weight: 600;
  text-align: center;
  width: 100%;
}

.password-form {
  background-color: #ffea9e;
  display: flex;
  float: left;
  width: 100%;
}


/* Buttons */

.search-button,
.search-form {
  margin-left: 4%;
}

.search-button:hover {
  background-color: darkgreen;
  color: white;
}

.change-button:hover {
  background-color: green;
  color: white;
}

.cancel-button:hover {
  background-color: red;
  color: white;
}

.floating-label {
  align-items: center;
  display: flex;
  color: #7c7c82;
  margin: 2% 10%;
  position: relative;
}

.checkbox {
  margin: 2% 10%;
}

.checkbox-input {
  transform: scale(2);
  transform-origin: left top;
}

.checkbox-text {
  padding-left: 20px;
  line-height: 40px;
}

.text-on-button {
  background-color: #c6d0ed;
  border-radius: 20px;
  color: black;
  opacity: 1;
}

.login-button {
  display: inline-block;
  background-color: #ffea9e;
  border-radius: 20px;
  color: #7c7c82;
  font-size: 25px;
  font-weight: 700;
  margin: 0 4% 0 0;
  position: relative;
  width: 45%;
}


.icon {
  margin-right: 3%;
}


.active-account .icon {
  color: #545454;
}

.icon.account-icon {
  color: lightgreen;
  margin-left: 10px;
  transform: scale(2);
}

.register-button {
  background-color: #7a92d9;
  border-radius: 20px;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 2%;
  width: 45%;
}

.sign-up-button, .send-button, .cancel-button, .change-button {
  font-size: 1.2rem;
  width: 100%;
}

.button-caption {
  color: #fff;
  text-decoration: none;
}

/* Sections */

.navbar-section {
  margin: 0;
  padding: 0 5%;
  position: relative;
}

.template-section, .login-section {
  margin: 0;
  padding: 0 5% 1%;
  position: relative;
  flex: auto;
}

.welcome-section {
  margin: 0;
  padding: 0 5%;
  position: relative;
  text-align: center;
}

.add-income-section, .add-expense-section {
  margin: 0;
  padding: 2% 35% 10%;
  position: relative;
  text-align: center;
}

.contact-section, .change-section  {
  margin: 0;
  padding: 2% 5% 200px;
  position: relative;
  flex: 1;
}

.view-balance-section {
  margin: 0;
  padding: 0 5% 2%;
  position: relative;
  text-align: center;
} 

.register-section {
  /* background-image: url("../images/budget-bg.png"); */
  background: radial-gradient(
      40rem at left bottom,
      rgba(190, 195, 252, 0.5),
      rgba(140, 82, 255, 0.5)
    ),
    url("../images/budget-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: radial-gradient(40rem at left bottom, #bec3fc, #8c52ff);
  border: solid rgba(255, 255, 255, 0.55) 1px;
  border-radius: 50px;
  position: relative;
  margin: 0;
  padding: 8% 35% 15%;
}

/* Contact Section */

.description-contact-field {
  float: left;
  display: flex;
  width: 100%;
}

.enter-gif {
  display: flex;
  align-items: center;
  border: 5px;
  border-color: #edebeb;
  border-radius: 5%;
  border-style: solid;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

/*Change Section */

.change-description {
  color: #c6d0ed;
  display: flex;
  float: left;
  padding-bottom: 10px;
  width: 100%;
}

/* Template Section */

.dividing-line {
  position: relative;
  bottom: 10px;
}

.password-question {
  position: relative;
  display: inline-block;
  color: #c6d0ed;
  margin-top: 0;
  text-align: center;
  text-decoration-line: none;
  vertical-align: middle;
  width: 45%;
}

.password-question, .reset-password-question:hover {
  color: #fff;
}

.reset-password-question {
  color: #c6d0ed;
  display: block;
  margin-top: 20px;
  text-align: center;
  width: 100%;
}

.reset-password-question.edit-profile  {
  text-align: left;
}

.edit-profile:hover {
  color: lightgreen;
}

.cancel-edit-profile:hover  {
  color: salmon;
}

.notification {
  display: block;
  margin-bottom: 50px;
  width: 100%;
}

.notification-container {
  margin-bottom: 50px;
}

.notification-title {
  display: block;
  margin-bottom: 50px;
  text-align: center;
}

.account-question {
  /*color: #c6d0ed;*/
  color: #fff;
  margin: 3% auto 2% auto;
}

.total-cell, .total-sum {
  background-color: #ffea9e !important;
  color: #8c52ff;
  font-size: 0.9rem;
  font-weight: 700;
}

.row-sum {
  border: solid red 2px;
}

.piechart-image {
  width: 100%;
}

.piechart-container {
  display: flex;
  justify-content: center;  
  align-items: center;
  margin: 0 0 2rem;
}

.summary-container {
  background-color: #fff;
  border: solid 1px;
  border-radius: 15px;
  color: #545454 !important;
  display: block;
  line-height: 1.5;
  margin: 0 0 2rem;
}

.success-container.summary-container {
  background-color: limegreen;
}

.warning-container.summary-container {
  background-color: orangered;
}

.failure-container.summary-container {
  background-color: pink;
}

.summary-text-success {
  color: green;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

.summary-text-failure {
  color: red;
  font-weight: bold;
  text-align: center;
}

.summary-text-warning {
  color: orange;
  font-weight: bold;
  text-align: center;
  margin: 1rem auto;
}

.summary-table {
  margin-bottom: 3%;
}

.title-change-password {
  display: flex;
  float: left;
  font-weight: bold;
  margin-bottom: 1%;
  width: 100%;
}

.profile-title {
  color: #545454;
  margin-bottom: 10px;
  width: 100%;
}

.profile-element {
  margin-left: 0%;
}

.profile-container {
  margin-bottom: 0;
}

.dropdown-button {
  float:right;
  padding-right: 20px;
}

.profile-button {
  float: left;
}


/* Register Section */

.image-border {
  margin: 0;
  padding: 3% 5% 6%;
}

.register-title, .register-notification, .edit-title {
  margin: 0 auto 10%;
  text-align: center;
}

.register-message {
  font-weight: 700;
}

.data-container {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto;
  width: 100%;
  z-index: 1;
}

.data-form {
  background-color: #ffea9e;
  resize: none;
}

.button-container {
  width: 35%;
}

.register-section p {
  color: #fff;
}

/* Login Section */
.login-title {
  margin: 5% auto 10%;
  text-align: center;
}

.login-container {
  display: block;
  margin: 3% auto;
  width: 35%;
}

.login-container .reset-container,.edit-container {
  width: 100%;
}

.login-border {
  background-color: #1D5D9B;
  border: solid rgba(255, 255, 255, 0.55) 3px;
  border-radius: 50px;
  margin-top: 3%;
  margin-bottom: 2%;
  padding: 20px;
}

.alert {
  align-items: center;
  border-radius: 10px;
  display: flex;
  height: auto;
  justify-content: center;
  margin: 0 15%;
}

.alert-text {
  text-align: center;
  vertical-align: middle;
  line-height: auto;
  margin: 0;
  padding: 10px;
}

.validating-notification {
  color: lightgreen;
}


/* Welcome Section */

.welcome-banner {
  background-color: #c6d0ed;
  border-radius: 25px;
  margin: 0 25% 5%;
}

/* Second method to center text/element in a div */
/* display: flex;
  align-items: center;
  justify-content: center;   */

.welcome-text {
  color: black;
  font-family: "Pacifico";
  font-weight: 600;
  line-height: 60px;
  text-align: center;
}

.welcome-section h4 {
  color: #fff;
  line-height: 1.5;
  margin-bottom: 2%;
  text-align: center;
}

.action-button {
  background-image: url('/images/golden-coin.png');
  background-repeat: no-repeat;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 300px;
  width: 300px;
}

.action-question {
  margin-bottom: 2%;
}

.action-title {
  margin-bottom: 15%;
}

.coin-image {
  transform: scale(1.1);
  width: 100%;
}

.coins-container {
  display: inline-block;
  margin: 5%;
  vertical-align: bottom;
}

.income-icon, .expense-icon, .balance-icon {
  position: relative;
  bottom: 50%;
  color: #545454;
  display: block;
  transform: scale(7);
  z-index: 1;
}

/* Add Income$Expense Section and View Balance Section */

.title-action {
  margin: 2% auto 2%;
}

.table-description {
  color: #c6d0ed;
  text-align: center;
}

.table-title {
  text-align: center;
}

.error-container {
  display: block;
}

.error-message {
  color: #fff;
  text-align: left;
}

.error-message-danger {
  color: #d90416;
  text-align: left;
}

.question-confirmation {
  color: #fff;
  font-size: 1.1rem;
  margin-bottom: 10%;
  text-align: center;
  width: 100%;
}

.highlighted-text {
  font-weight: bold;
}

.horizontal-line {
  border-top: 1px solid #7c7c82;
  margin: 1rem 0;
}

/* Title Image */

.title-image {
  position: relative;
  left: 18%;
  top: 3%;
  width: 100%;
}

.clipped-image {
  background-color: #8c52ff;
  color: #565556;
  clip-path: polygon(
    10% 0%,
    82% 0%,
    82% 55%,
    60% 100%,
    25% 100%,
    25% 58%,
    24.5% 56%,
    24% 54%,
    23.5% 52%,
    21% 50%,
    10% 50%
  );
  width: 100%;
}

.parent {
  filter: url("#goo");
}

.app-title {
  color: rgba(255, 255, 255, 0.55);
}

.app-title:hover {
  color: #fff;
}

@media (max-width: 680px) {
  .register-section, .add-income-section {
    padding: 0 20% 0;
  }

  .contact-section, .change-section {
    padding: 2% 10% 20%;
  }

  .button-container {
    width: 45%;
  }

  .welcome-banner {
    margin: 2% 5% 5%;
  }

  .choice-container {
    padding-top: 5%;
  }

  .title-action {
    margin-top: 10%;
  }

  .enter-gif {
    margin: 50px auto 0;
  }
  
}

@media (max-width: 991px) {
  .template-section {
    text-align: center;
  }

  .register-section, .add-income-section, .add-expense-section, .contact-section {
    padding: 10% 10% 23%;
  }

  .title-balance {
    padding-top: 5%;
  }

  .title-description {
    margin-bottom: 0;
    padding-right: 0;
  }

  .title-image {
    position: static;
    margin-left: 4%;
  }

  .login-button {
    margin: 0% 0 0 4%;
  }

  .password-question {
    margin-bottom: 0%;
  }

  .nav-item, .icon {
    margin: 0 3% 0 0;
  }

  .search-form {
    margin-left: 0;
  }

  .summary-container {
    margin: 0 0 2rem;
  }

  .enter-gif {
    margin: 50px auto 0;
  }

}

@media (min-width: 992px) and (max-width: 1354px) {
  .register-section, .add-income-section, .add-expense-section {
    padding: 5% 15% 20%;
  }

  .title-image {
    top: 4%;
    left: 11%;
    transform: scale(1.2);
  }

  .sign-up-button, .send-button {
    font-size: 1rem;
  }

  .nav-item, .nav-link {
    display: block;
  }

  .view-balance-section {
    padding: 0 5% 1%;
  }

  .enter-gif {
    margin: 0 auto;
  }
}

/* Footer Section */

.footer-section {
  display: flex;
  background-color: #c6d0ed;
  padding: 15px;
  justify-content: center;
  text-align: center;
}

.copyright {
  margin: 1px 0;
  width: 100%;
}

hr.horizontal-line1 {
  border-top: 1px solid #7c7c82;
  margin: 0;
}