{% extends "base.html" %}

{% block title %}Reset password{% endblock %}

{% block navigation %}
{% endblock %}

{% block body %}
<main>
    <section class="change-section">
        <div class="row">
            <div class="col-lg-6">
                <form action="/password/request-reset" method="post">
                    <h3 class="title-change-password">Request password reset</h3>
                    <p class="change-description">
                        We will send you a link to change your password to the email address you provided at
                        registration.
                    </p>
                    <h4 class="description-contact-field">Email</h4>
                    <div class="input-group mb-3 data-container">
                        <label class="input-group-text data-form" for="inputEmail"><i class="fa-solid fa-at"
                                style="color: #7c7c82"></i></label>
                        <input class="form-control data-form" type="email" id="inputEmail" name="email"
                            placeholder="Type your email" autofocus required>
                    </div>
                    <div class="button-container" style="float: left;">
                        <button type="submit" class="btn btn-lg btn-light change-button">
                            <i class="fa-solid fa-rotate icon"></i> Reset password
                        </button>
                    </div>
                    <div class="button-container" style="float: right;">
                        <button type="reset" class="btn btn-lg btn-outline-light cancel-button">
                            <i class="fa-solid fa-rectangle-xmark icon"></i> Cancel
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-lg-6">
                <img class="enter-gif" height="550" width="600" src="../images/change-password.gif" alt="padlock-gif">
            </div>
        </div>
    </section>
</main>
{% endblock %}