{% extends "base.html" %}

{% block title %}Reset password success{% endblock %}

{% block navigation %}
{% endblock %}

{% block body %}
<main>
    <section class="template-section">
        <div class="row justify-content-center notification-container">
            <h3 class="notification-title">Password reset successfully</h3>
            <div class="col-lg-6 alert alert-success">
                <p class="alert-text notification">You can now <a href="/login">login</a>.</p>
            </div>
        </div>
    </section>
</main>
{% endblock %}