{% extends "base.html" %}

{% block title %}Forgot password{% endblock %}

{% block navigation %}
{% endblock %}

{% block body %}
<main>
    <section class="template-section">
        <div class="row justify-content-center notification-container">
            <h3 class="notification-title">Request password reset</h3>
            <div class="col-lg-6 alert alert-success">
                <p class="alert-text notification">Password reset link invalid or expired, please click <a href="/password/forgot">here</a> to request another one.</p>
            </div>
        </div>
    </section>
</main>
{% endblock %}
