{% extends "base.html" %}

{% block title %}Editing payment method name{% endblock %}

{% block footer %}
{% endblock %}

{% block navigation %}

<li class="nav-item">
  <a class="nav-link" href="/incomes"><i class="fa-solid fa-piggy-bank"></i> Add income</a>
</li>

<li class="nav-item">
  <a class="nav-link" href="/balance"><i class="fa-solid fa-scale-balanced"></i> View balance</a>
</li>

{% endblock %}

{% block body %}
<main>
  <section class="add-expense-section">

    <!-- {% if expense.errors is not empty %}
    <p class="error-message">Errors:</p>
    <ul>
      {% for error in expense.errors %}f
      <li class="error-message">{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %} -->

    <h3 class="title-action">Enter a new payment method name:</h3><br>

    <form method="post" action="/loss/edit-method">
      <div class="input-group mb-4 data-container">
        <label class="input-group-text data-form" for="inputChangedMethod"><i class="fa-solid fa-list"
            style="color: #7c7c82;"></i></label>
        <input type="text" id="inputChangedMethod" name="changed-method" class="form-control data-form"
          value="{{ selected_payment_method }}" placeholder="Enter changed payment method name"
          aria-label="Changed payment method" required autofocus>
        <input type="hidden" name="userID" value="{{ userID }}">
        <input type="hidden" name="paymentID" value="{{ paymentID }}">
      </div>

      <div class="input-group mb-4 data-container">
        <div class="button-container">
          <button name="action" type="submit" value="cancel" class="btn btn-lg btn-danger sign-up-button">
            <i class="fa-solid fa-rectangle-xmark icon"></i>Cancel
          </button>
        </div>
        <div class="button-container">
          <button name="action" type="submit" value="confirm" class="btn btn-lg btn-success sign-up-button">
            <i class="fa-solid fa-square-check icon"></i>Confirm
          </button>
        </div>
      </div>
    </form>

  </section>
</main>
{% endblock %}