{% extends "base.html" %}

{% block title %}Balance sheet{% endblock %}

{% block navigation %}

<li class="nav-item">
  <a class="nav-link" href="/profit/new"><i class="fa-solid fa-piggy-bank"></i> Add income</a>
</li>

<li class="nav-item">
  <a class="nav-link" href="/loss/new"><i class="fa-solid fa-sack-xmark"></i> Add expense</a>
</li>

{% endblock %}


{% block body %}
<section class="template-section">

  <div class="dropdown">
    <button type="button" class="btn btn-primary dropdown-toggle dropdown-button" data-bs-toggle="dropdown"
      aria-expanded="false">
      <i class="fa-regular fa-calendar icon"></i> Select time period
    </button>
    <ul class="dropdown-menu">
      <li>
        <a class="dropdown-item active" href="/balance/summary">Current month</a>
      </li>
      <li>
        <a class="dropdown-item" href="/balance/summary-previous-month">Previous month</a>
      </li>
      <li>
        <a class="dropdown-item" href="#current-year">Current year</a>
      </li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li>
        <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#rangeTimeModal">Custom</a>
      </li>
    </ul>
  </div>
</section>

<!-- Modal -->
<div class="modal" id="rangeTimeModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Select date range:</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Range from:
        <input type="date" class="form-control data-form" value="{{ currentDate }}" min="2000-01-01" max="{{ currentDate }}">
        To:
        <input type="date" class="form-control data-form" value="{{ currentDate }}" min="2000-01-01" max="{{ currentDate }}">
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">
          Confirm
        </button>
      </div>
    </div>
  </div>
</div>

<section class="view-balance-section">
  <main>
    <div class="container mt-3 action-container">
      <h3 class="title-action">View balance</h3>
      <h4>{{ period_with_month_and_year }}</h4>
      <p class="table-description">
        The tables show, respectively, the income and expenses of the
        selected period and a summary in the form of a balance sheet.
      </p>
    </div>
</section>

<!-- {{ dump(balance_load.income_data) }} -->

<section class="template-section">
  <div class="piechart-container">
    <div class="col-lg-6">
      <h4 class="table-title">
        <i class="fa-solid fa-chart-pie icon"></i> Pie-Chart
      </h4>
      <img class="piechart-image" src="/images/pie-chart.png" alt="piechart-img">
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 summary-table">
      <h4 class="table-title">
        <i class="fa-solid fa-piggy-bank icon"></i> Incomes
      </h4>
      <table class="table table-success table-hover">
        <thead>
          <tr>
            <th class="category-table-field">Income <br>category</th>
            <th class="date-table-field">Date</th>
            <th class="amount-table-field">Amount</th>
            <th class="details-table-field">Details</th>
            <th class="icons-table-field"></th>
          </tr>
        </thead>
        {% if balance_load is not empty %}
        {% for incomeItem in balance_load.income_data %}
        <tbody>
          <tr>
            <td>{{ incomeItem.category }}</td>
            <td>
              {{ incomeItem.date_of_income }}
            </td>
            <td class="text-to-right">{{ incomeItem.amount }} PLN</td>
            <td>
              {{ incomeItem.income_comment}}
            </td>
            <td> <a href="#"><i class="fa-solid fa-pencil table-icon"></i></a> <a href="#"><i
                  class="fa-solid fa-trash table-icon"></i></a>
            </td>
          </tr>
        </tbody>
        {% endfor %}
        {% for totalIncomeItem in balance_load.income_category_total_amount %}
        <tr>
          <td class="total-cell">Total <br>{{ totalIncomeItem.category }}</td>
          <td class="total-cell"></td>
          <td class="total-cell text-to-right">{{ totalIncomeItem.amount }} PLN</td>
          <td class="total-cell"></td>
          <td class="total-cell"></td>
        </tr>
        {% endfor %}
        {% endif %}

        {% if balance_load.income_data is not empty %}
        <tfoot>
          <tr class="row-sum" style="border: solid green 2px;">
            <td class="total-sum" style="color: green">Total Incomes</td>
            <td class="total-sum" style="color: green"></td>
            <td class="total-sum text-to-right" style="color: green">
              {% if balance_load.total_incomes is not empty %}
                {{ balance_load.total_incomes }} PLN</td>
              {% else %}
                0 PLN</td>
              {% endif %}
              <td class="total-sum" style="color: green"></td>
            <td class="total-sum" style="color: green"></td>
          </tr>
        </tfoot>
        {% else %}
        
        {% endif %}
      </table>
    </div>

    <div class="col-lg-6 summary-table">
      <h4 class="table-title">
        <i class="fa-solid fa-sack-xmark icon"></i> Expenses
      </h4>
      <table class="table table-danger table-hover">
        <thead>
          <tr>
            <th class="category-table-field">Expense <br>category</th>
            <th class="date-table-field">Date</th>
            <th class="amount-table-field">Amount</th>
            <th class="details-table-field">Details</th>
            <th class="icons-table-field"></th>
          </tr>
        </thead>
        {% if balance_load is not empty %}
        {% for expenseItem in balance_load.expense_data %}
        <tbody>
          <tr>
            <td>{{ expenseItem.category }}</td>
            <td>
              {{ expenseItem.date_of_expense }}
            </td>
            <td class="text-to-right">{{ expenseItem.amount }} PLN</td>
            <td>
              {{ expenseItem.expense_comment}}
            </td>
            <td> <a href="#"><i class="fa-solid fa-pencil table-icon"></i></a> <a href="#"><i
                  class="fa-solid fa-trash table-icon"></i></a>
            </td>
          </tr>
        </tbody>
        {% endfor %}
        {% for totalExpenseItem in balance_load.expense_category_total_amount %}
        <tr>
          <td class="total-cell">Total <br>{{ totalExpenseItem.category }}</td>
          <td class="total-cell"></td>
          <td class="total-cell text-to-right">{{ totalExpenseItem.amount }} PLN</td>
          <td class="total-cell"></td>
          <td class="total-cell"></td>
        </tr>
        {% endfor %}
        {% endif %}

        {% if balance_load.income_data is not empty %}
        <tfoot>
          <tr class="row-sum" style="border: solid red 2px;">
            <td class="total-sum" style="color: red">Total Expenses</td>
            <td class="total-sum" style="color: red"></td>
            <td class="total-sum text-to-right" style="color: red">
            {% if balance_load.total_expenses is not empty %}
              {{ balance_load.total_expenses }} PLN</td>
            {% else %}
              0 PLN</td>
            {% endif %}
            <td class="total-sum" style="color: red"></td>
            <td class="total-sum" style="color: red"></td>
          </tr>
        </tfoot>
        {% endif %}
      </table>
    </div>
  </div>

  {% if balance_load.income_data is not null and balance_load.expense_data is not null %}
  <h4 class="table-title">
    <i class="fa-solid fa-scroll"></i> Summary
  </h4>
  <div class="summary-container ">
    <h4 style="text-align: center; margin-top: 1rem;">Your Finance Balance:</h4>
    <h4 style="font-weight: bold; text-align: center">
      {{ balance_load.final_balance }} PLN<br>
    </h4>
    {% if balance_load.final_balance >= 0 %}
    <h4 class="summary-text-success">
      Congratulations! You manage your finances very well.
    </h4>
    {% else %}
    <h4 class="summary-text-failure">
      You don't manage your finances very well. You need to make changes to your budget.
    </h4>
    {% endif %}
  </div>
  {# <!-- {% else %}
  <div class="summary-container">
    <h4 class="summary-text-warning">
      No data to display.
    </h4>
  </div> -->#}
  {% endif %}
  </main>
</section>
{% endblock %}