{% extends "base.html" %}

{% block title %}Adding incomes{% endblock %}

{% block navigation %}
<ul class="navbar-nav ms-auto">
  <li class="nav-item">
    <a class="nav-link" href="/start"><i class="fa-solid fa-house"></i> Home</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/incomes"><i class="fa-solid fa-piggy-bank"></i> Add income</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/expenses"><i class="fa-solid fa-sack-xmark"></i> Add expense</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/contact"><i class="fa-solid fa-envelope"></i> Contact</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#settingsModal"><i class="fa-solid fa-gear"></i>
      Settings</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Log out</a>
  </li>
</ul>
{% endblock %}

{% block body %}
<section class="template-section">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 account-container active-account">
      <i class="fa-solid fa-check icon" style="color: lightgreen; transform: scale(2);"></i>LOGGED-IN USER<br><i
        class="fa-solid fa-user icon"></i>{{current_user.username}}
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6"></div>

    <div class="col choice-container">
      <button type="button" class="btn btn-primary dropdown-toggle dropdown-button" data-bs-toggle="dropdown">
        <i class="fa-regular fa-calendar icon"></i> Select time period
      </button>
      <ul class="dropdown-menu">
        <li>
          <a class="dropdown-item active" href="#current-month">Current month</a>
        </li>
        <li>
          <a class="dropdown-item" href="#previous-month">Previous month</a>
        </li>
        <li>
          <a class="dropdown-item" href="#current-year">Current year</a>
        </li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li>
          <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#rangeTimeModal">Custom</a>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal" id="rangeTimeModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Select date range:</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Range from:
        <input type="date" class="form-control data-form" value="" min="2000-01-01">
        To:
        <input type="date" class="form-control data-form" value="" min="2000-01-01">
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">
          Confirm
        </button>
      </div>
    </div>
  </div>
</div>


<main>
  <section class="view-balance-section">
    <div class="container mt-3 action-container">
      <h2 class="title-action">View balance</h2>
      <h3>The current month</h3>
      <p class="table-description">
        The tables show, respectively, the income and expenses of the
        selected period and a summary in the form of a balance sheet.
      </p>
    </div>
  </section>

  <section class="template-section">
    <div class="row">
      <div class="col-lg-4 summary-table">
        <h3 class="table-title">
          <i class="fa-solid fa-piggy-bank icon"></i> Incomes
        </h3>
        <table class="table table-success table-hover">
          <thead>
            <tr>
              <th>Income category</th>
              <th>Amount</th>
              <th>Details</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Salary</td>
              <td>5000.00</td>
              <td>
                <i class="fa-solid fa-hand-back-point-right"></i> 10-03-2023
                withdrawal
              </td>
            </tr>
            <tr>
              <td>Salary</td>
              <td>750.00</td>
              <td>
                <i class="fa-solid fa-hand-back-point-right"></i> 10-03-2023
                bonus
              </td>
            </tr>
            <tr>
              <td>Interest</td>
              <td>300.00</td>
              <td>
                <i class="fa-solid fa-hand-back-point-right"></i> 21-03-2023
                deposit
              </td>
            </tr>
            <tr>
              <td>Sale on allegro</td>
              <td>150.00</td>
              <td>
                <div></div>
                14-03-2023 monitor
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td class="total-cell">Total Salary</td>
              <td class="total-cell">5750.00</td>
              <td class="total-cell"></td>
            </tr>
            <tr>
              <td class="total-cell">Total Interest</td>
              <td class="total-cell">300.00</td>
              <td class="total-cell"></td>
            </tr>
            <tr>
              <td class="total-cell">Total Sale on allegro</td>
              <td class="total-cell">150.00</td>
              <td class="total-cell"></td>
            </tr>
            <tr class="row-sum" style="border: solid green 2px;">
              <td class="total-sum" style="color: green">Total Incomes</td>
              <td class="total-sum" style="color: green">6200.00</td>
              <td class="total-sum" style="color: green"></td>
            </tr>
          </tfoot>
        </table>
      </div>

      <div class="col-lg-4 summary-table">
        <h3 class="table-title">
          <i class="fa-solid fa-sack-xmark icon"></i> Expenses
        </h3>
        <table class="table table-danger table-hover">
          <thead>
            <tr>
              <th>Expense category</th>
              <th>Amount</th>
              <th>Details</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Clothing</td>
              <td>280.00</td>
              <td>
                <i class="fa-solid fa-hand-back-point-right"></i> 10-03-2023
                winter jacket
              </td>
            </tr>
            <tr>
              <td>Trip</td>
              <td>350.00</td>
              <td>
                <i class="fa-solid fa-hand-back-point-right"></i> 10-03-2023
              </td>
            </tr>
            <tr>
              <td>Food</td>
              <td>550.00</td>
              <td>
                <i class="fa-solid fa-hand-back-point-right"></i> 21-03-2023
              </td>
            </tr>
            <tr>
              <td>Entertainment</td>
              <td>1200.00</td>
              <td>14-03-2023 ski trip</td>
            </tr>
          </tbody>

          <tfoot>
            <tr>
              <td class="total-cell">Total Clothing</td>
              <td class="total-cell">280.00</td>
              <td class="total-cell"></td>
            </tr>
            <tr>
              <td class="total-cell">Total Trip</td>
              <td class="total-cell">350.00</td>
              <td class="total-cell"></td>
            </tr>
            <tr>
              <td class="total-cell">Total Food</td>
              <td class="total-cell">550.00</td>
              <td class="total-cell"></td>
            </tr>
            <tr>
              <td class="total-cell">Total Entertainment</td>
              <td class="total-cell">1200.00</td>
              <td class="total-cell"></td>
            </tr>
            <tr class="row-sum" style="border: solid red 2px;">
              <td class="total-sum" style="color: red">Total Expenses</td>
              <td class="total-sum" style="color: red">2380.00</td>
              <td class="total-sum" style="color: red"></td>
            </tr>
          </tfoot>
        </table>
      </div>

      <div class="col-lg-4">
        <h3 class="table-title">
          <i class="fa-solid fa-chart-pie icon"></i> Pie-Chart
        </h3>
        <div class="piechart-container">
          <img class="piechart-image" src="/images/pie-chart.png" alt="piechart-img">
        </div>
      </div>
    </div>

    <div></div>

    <div class="summary-container">
      <h4 style="text-align: center">Your Finance Balance:</h4>
      <h4 style="font-weight: bold; text-align: center">
        3820.00 PLN<br>
      </h4>
      <h4 class="summary-text">
        Congratulations! You manage your finances very well.
      </h4>
    </div>
  </section>
</main>
{% endblock %}


{% block modal %}
<!-- Modal -->
<div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="settingsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title fs-5 settings-title" id="settingsModalLabel">Settings panel</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="accordion" id="accordionSettingItem">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Change username
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionSettingItem">
              <div class="accordion-body">
                <div class="input-group mb-3 data-container">
                  <span class="input-group-text data-form" id="basic-addon1"><i class="fa-solid fa-user"
                      style="color: #7c7c82;"></i></span>
                  <input type="text" class="form-control data-form" placeholder="Username" aria-label="Username"
                    aria-describedby="basic-addon1">
                </div>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success">Confirm</button>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Change email address
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionSettingItem">
              <div class="accordion-body">
                <div class="input-group mb-3 data-container">
                  <span class="input-group-text data-form" id="basic-addon2"><i class="fa-solid fa-at"
                      style="color: #7c7c82"></i></span>
                  <input type="email" class="form-control data-form" placeholder="Email" aria-label="Email"
                    aria-describedby="basic-addon2">
                </div>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success">Confirm</button>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Change password
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionSettingItem">
              <div class="accordion-body">
                <div class="input-group mb-3 data-container">
                  <span class="input-group-text data-form" id="basic-addon3"><i class="fa-solid fa-lock"
                      style="color: #7c7c82"></i></span>
                  <input type="password" class="form-control password-form" placeholder="Enter previous password"
                    aria-label="password" aria-describedby="basic-addon3">
                </div>
                <div class="input-group mb-3 data-container">
                  <span class="input-group-text data-form" id="basic-addon3"><i class="fa-solid fa-lock"
                      style="color: #7c7c82"></i></span>
                  <input type="password" class="form-control password-form" placeholder="Enter new password"
                    aria-label="password" aria-describedby="basic-addon3">
                </div>
                <div class="input-group mb-3 data-container">
                  <span class="input-group-text data-form" id="basic-addon3"><i class="fa-solid fa-lock"
                      style="color: #7c7c82"></i></span>
                  <input type="password" class="form-control password-form" placeholder="Repeat password"
                    aria-label="password" aria-describedby="basic-addon3">
                </div>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success">Confirm</button>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Manage incomes categories
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionSettingItem">
              <div class="accordion-body">
                <div class="input-group mb-3">
                  <select class="form-select" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="" disabled="disabled">───────────────────────────────────────</option>
                    <option value="1">Salary</option>
                    <option value="2">Bank interest</option>
                    <option value="" disabled="disabled">───────────────────────────────────────</option>
                    <option value="3">Other incomes</option>
                  </select>
                </div>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-success">Create new category</button>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  Manage expenses categories
                </button>
              </h2>
              <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionSettingItem">
                <div class="accordion-body">
                  <div class="input-group mb-3">
                    <select class="form-select" aria-label="Default select example">
                      <option selected>Open this select menu</option>
                      <option value="" disabled="disabled">───────────────────────────────────────</option>
                      <option value="1">Food</option>
                      <option value="2">Flat</option>
                      <option value="3">Transport</option>
                      <option value="4">Telecommunication</option>
                      <option value="5">Healthcare</option>
                      <option value="6">Clothing</option>
                      <option value="7">Hygiene</option>
                      <option value="8">Children</option>
                      <option value="9">Trips</option>
                      <option value="10">Entertainment</option>
                      <option value="11">Training</option>
                      <option value="12">Books</option>
                      <option value="13">Savings</option>
                      <option value="14">For a golden autumn, or retirement</option>
                      <option value="15">Repayment of debts</option>
                      <option value="16">Donation</option>
                      <option value="" disabled="disabled">───────────────────────────────────────</option>
                      <option value="17">Other expenses</option>
                    </select>
                  </div>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Edit</button>
                  <button type="button" class="btn btn-danger">Delete</button>
                  <button type="button" class="btn btn-success">Create new category</button>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                  Manage payment methods
                </button>
              </h2>
              <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionSettingItem">
                <div class="accordion-body">
                  <div class="input-group mb-3">
                    <select class="form-select" aria-label="Default select example">
                      <option selected>Open this select menu</option>
                      <option value="" disabled="disabled">───────────────────────────────────────</option>
                      <option value="1">Cash</option>
                      <option value="2">Debit card</option>
                      <option value="3">Credit card</option>
                    </select>
                  </div>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Edit</button>
                  <button type="button" class="btn btn-danger">Delete</button>
                  <button type="button" class="btn btn-success">Create new category</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}