{% extends "base.html" %}

{% block title %}Adding incomes{% endblock %}

{% block navigation %}

<li class="nav-item">
  <a class="nav-link" href="/incomes"><i class="fa-solid fa-piggy-bank"></i> Add income</a>
</li>

<li class="nav-item">
  <a class="nav-link" href="/expenses"><i class="fa-solid fa-sack-xmark"></i> Add expense</a>
</li>

{% endblock %}


{% block body %}
<section class="template-section">

    <div class="dropdown">
      <button type="button" class="btn btn-primary dropdown-toggle dropdown-button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa-regular fa-calendar icon"></i> Select time period
      </button>
      <ul class="dropdown-menu">
        <li>
          <a class="dropdown-item active" href="#current-month">Current month</a>
        </li>
        <li>
          <a class="dropdown-item" href="#previous-month">Previous month</a>
        </li>
        <li>
          <a class="dropdown-item" href="#current-year">Current year</a>
        </li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li>
          <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#rangeTimeModal">Custom</a>
        </li>
      </ul>
    </div>
</section>

<!-- Modal -->
<div class="modal" id="rangeTimeModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Select date range:</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Range from:
        <input type="date" class="form-control data-form" value="" min="2000-01-01">
        To:
        <input type="date" class="form-control data-form" value="" min="2000-01-01">
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">
          Confirm
        </button>
      </div>
    </div>
  </div>
</div>

<main>
  <section class="view-balance-section">
    <div class="container mt-3 action-container">
      <h2 class="title-action">View balance</h2>
      <h3>The current month</h3>
      <p class="table-description">
        The tables show, respectively, the income and expenses of the
        selected period and a summary in the form of a balance sheet.
      </p>
    </div>
  </section>

  <section class="template-section">
    <div class="row">
      <div class="col-lg-4 summary-table">
        <h3 class="table-title">
          <i class="fa-solid fa-piggy-bank icon"></i> Incomes
        </h3>
        <table class="table table-success table-hover">
          <thead>
            <tr>
              <th>Income category</th>
              <th>Amount</th>
              <th>Details</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Salary</td>
              <td>5000.00</td>
              <td>
                <i class="fa-solid fa-hand-back-point-right"></i> 10-03-2023
                withdrawal
              </td>
            </tr>
            <tr>
              <td>Salary</td>
              <td>750.00</td>
              <td>
                <i class="fa-solid fa-hand-back-point-right"></i> 10-03-2023
                bonus
              </td>
            </tr>
            <tr>
              <td>Interest</td>
              <td>300.00</td>
              <td>
                <i class="fa-solid fa-hand-back-point-right"></i> 21-03-2023
                deposit
              </td>
            </tr>
            <tr>
              <td>Sale on allegro</td>
              <td>150.00</td>
              <td>
                <div></div>
                14-03-2023 monitor
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td class="total-cell">Total Salary</td>
              <td class="total-cell">5750.00</td>
              <td class="total-cell"></td>
            </tr>
            <tr>
              <td class="total-cell">Total Interest</td>
              <td class="total-cell">300.00</td>
              <td class="total-cell"></td>
            </tr>
            <tr>
              <td class="total-cell">Total Sale on allegro</td>
              <td class="total-cell">150.00</td>
              <td class="total-cell"></td>
            </tr>
            <tr class="row-sum" style="border: solid green 2px;">
              <td class="total-sum" style="color: green">Total Incomes</td>
              <td class="total-sum" style="color: green">6200.00</td>
              <td class="total-sum" style="color: green"></td>
            </tr>
          </tfoot>
        </table>
      </div>

      <div class="col-lg-4 summary-table">
        <h3 class="table-title">
          <i class="fa-solid fa-sack-xmark icon"></i> Expenses
        </h3>
        <table class="table table-danger table-hover">
          <thead>
            <tr>
              <th>Expense category</th>
              <th>Amount</th>
              <th>Details</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Clothing</td>
              <td>280.00</td>
              <td>
                <i class="fa-solid fa-hand-back-point-right"></i> 10-03-2023
                winter jacket
              </td>
            </tr>
            <tr>
              <td>Trip</td>
              <td>350.00</td>
              <td>
                <i class="fa-solid fa-hand-back-point-right"></i> 10-03-2023
              </td>
            </tr>
            <tr>
              <td>Food</td>
              <td>550.00</td>
              <td>
                <i class="fa-solid fa-hand-back-point-right"></i> 21-03-2023
              </td>
            </tr>
            <tr>
              <td>Entertainment</td>
              <td>1200.00</td>
              <td>14-03-2023 ski trip</td>
            </tr>
          </tbody>

          <tfoot>
            <tr>
              <td class="total-cell">Total Clothing</td>
              <td class="total-cell">280.00</td>
              <td class="total-cell"></td>
            </tr>
            <tr>
              <td class="total-cell">Total Trip</td>
              <td class="total-cell">350.00</td>
              <td class="total-cell"></td>
            </tr>
            <tr>
              <td class="total-cell">Total Food</td>
              <td class="total-cell">550.00</td>
              <td class="total-cell"></td>
            </tr>
            <tr>
              <td class="total-cell">Total Entertainment</td>
              <td class="total-cell">1200.00</td>
              <td class="total-cell"></td>
            </tr>
            <tr class="row-sum" style="border: solid red 2px;">
              <td class="total-sum" style="color: red">Total Expenses</td>
              <td class="total-sum" style="color: red">2380.00</td>
              <td class="total-sum" style="color: red"></td>
            </tr>
          </tfoot>
        </table>
      </div>

      <div class="col-lg-4">
        <h3 class="table-title">
          <i class="fa-solid fa-chart-pie icon"></i> Pie-Chart
        </h3>
        <div class="piechart-container">
          <img class="piechart-image" src="/images/pie-chart.png" alt="piechart-img">
        </div>
      </div>
    </div>

    <div></div>

    <div class="summary-container">
      <h4 style="text-align: center">Your Finance Balance:</h4>
      <h4 style="font-weight: bold; text-align: center">
        3820.00 PLN<br>
      </h4>
      <h4 class="summary-text">
        Congratulations! You manage your finances very well.
      </h4>
    </div>
  </section>
</main>
{% endblock %}