{% extends "base.html" %}

{% block title %}Adding expenses{% endblock %}

{% block navigation %}
<ul class="navbar-nav ms-auto">
  <li class="nav-item">
    <a class="nav-link" href="/start"><i class="fa-solid fa-house"></i> Home</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/incomes"><i class="fa-solid fa-piggy-bank"></i> Add income</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/balance"><i class="fa-solid fa-scale-balanced"></i> View balance</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/send"><i class="fa-solid fa-envelope"></i> Contact</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#settingsModal"><i class="fa-solid fa-gear"></i>
      Settings</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Log out</a>
  </li>
</ul>
{% endblock %}

{% block body %}
<section class="template-section">
  <div class="row">
    <div class="col-lg-6 account-container">
      <h4 class="active-account">
        <i class="fa-solid fa-check account-icon"></i> ACCOUNT<br><i class="fa-solid fa-user icon"></i>
        Username Username
      </h4>
    </div>
  </div>
</section>

<main>
  <section class="add-expense-section">
    <h3 class="title-action">Enter expenses data:</h3>
    <div class="input-group mb-3 data-container">
      <span class="input-group-text data-form" id="basic-addon1"><i class="fa-solid fa-coins"
          style="color: #7c7c82;"></i>
      </span>
      <input type="number" min="0.01" step="0.01" class="form-control data-form" placeholder="Amount (PLN)"
        aria-label="Amount (PLN)" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3 data-container">
      <span class="input-group-text data-form" id="basic-addon2"><i class="fa-sharp fa-regular fa-calendar"
          style="color: #7c7c82;"></i>
      </span>
      <input type="date" class="form-control data-form" aria-label="Date" aria-describedby="basic-addon1"
        value="2023-08-01" min="2000-01-01">
    </div>

    <div class="input-group mb-3 data-container">
      <label class="input-group-text data-form" id="basic-addon3" for="formControlSelect1"><i
          class="fa-solid fa-caret-down" style="color: #7c7c82;"></i>
      </label>
      <select class="form-control data-form" id="formControlSelect1">
        <option selected>Choose payment method...</option>
        <option value="" disabled="disabled">───────────────────────────────────────</option>
        <option value="cash">Cash</option>
        <option value="debit-card">Debit card</option>
        <option value="credit-card">Credit card</option>
      </select>
    </div>

    <div class="input-group mb-3 data-container">
      <label class="input-group-text data-form" id="basic-addon4"><i class="fa-solid fa-caret-down"
          style="color: #7c7c82;"></i>
      </label>
      <select class="form-control data-form">
        <option selected>Choose category...</option>
        <option value="" disabled="disabled">───────────────────────────────────────</option>
        <option value="food">Food</option>
        <option value="flat">Flat</option>
        <option value="transport">Transport</option>
        <option value="telecom">Telecommunication</option>
        <option value="healthcare">Healthcare</option>
        <option value="clothing">Clothing</option>
        <option value="hygiene">Hygiene</option>
        <option value="children">Children</option>
        <option value="trips">Trips</option>
        <option value="entertainment">Entertainment</option>
        <option value="training">Training</option>
        <option value="books">Books</option>
        <option value="savings">Savings</option>
        <option value="retirement">For a golden autumn, or retirement</option>
        <option value="repayment-debts">Repayment of debts</option>
        <option value="donation">Donation</option>
        <option value="" disabled="disabled">───────────────────────────────────────</option>
        <option value="others">Other expenses</option>
      </select>
    </div>
    <div class="input-group mb-3 data-container">
      <label class="input-group-text data-form" id="basic-addon5" for="formControlTextarea1"><i
          class="fa-solid fa-pencil" style="color: #7c7c82;"></i></label>
      <textarea class="form-control data-form" id="formControlTextarea1" rows="3"
        placeholder="Type a comment..."></textarea>
    </div>
    <div class="button-container" style="float: left;">
      <button type="button" class="btn btn-lg btn-danger sign-up-button">
        <i class="fa-solid fa-rectangle-xmark icon"></i>Cancel
      </button>
    </div>
    <div class="button-container" style="float: right;">
      <button type="button" class="btn btn-lg btn-success sign-up-button">
        <i class="fa-solid fa-square-check icon"></i>Confirm
      </button>
    </div>
  </section>
</main>
{% endblock %}

{% block modal %}
<!-- Modal -->
<div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="settingsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title fs-5 settings-title" id="settingsModalLabel">Settings panel</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="accordion" id="accordionSettingItem">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Change username
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionSettingItem">
              <div class="accordion-body">
                <div class="input-group mb-3 data-container">
                  <span class="input-group-text data-form" id="basic-addon1"><i class="fa-solid fa-user"
                      style="color: #7c7c82;"></i></span>
                  <input type="text" class="form-control data-form" placeholder="Username" aria-label="Username"
                    aria-describedby="basic-addon1">
                </div>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success">Confirm</button>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Change email address
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionSettingItem">
              <div class="accordion-body">
                <div class="input-group mb-3 data-container">
                  <span class="input-group-text data-form" id="basic-addon2"><i class="fa-solid fa-at"
                      style="color: #7c7c82"></i></span>
                  <input type="email" class="form-control data-form" placeholder="Email" aria-label="Email"
                    aria-describedby="basic-addon2">
                </div>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success">Confirm</button>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Change password
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionSettingItem">
              <div class="accordion-body">
                <div class="input-group mb-3 data-container">
                  <span class="input-group-text data-form" id="basic-addon3"><i class="fa-solid fa-lock"
                      style="color: #7c7c82"></i></span>
                  <input type="password" class="form-control password-form" placeholder="Enter previous password"
                    aria-label="password" aria-describedby="basic-addon3">
                </div>
                <div class="input-group mb-3 data-container">
                  <span class="input-group-text data-form" id="basic-addon3"><i class="fa-solid fa-lock"
                      style="color: #7c7c82"></i></span>
                  <input type="password" class="form-control password-form" placeholder="Enter new password"
                    aria-label="password" aria-describedby="basic-addon3">
                </div>
                <div class="input-group mb-3 data-container">
                  <span class="input-group-text data-form" id="basic-addon3"><i class="fa-solid fa-lock"
                      style="color: #7c7c82"></i></span>
                  <input type="password" class="form-control password-form" placeholder="Repeat password"
                    aria-label="password" aria-describedby="basic-addon3">
                </div>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success">Confirm</button>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Manage incomes categories
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionSettingItem">
              <div class="accordion-body">
                <div class="input-group mb-3">
                  <select class="form-select" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="" disabled="disabled">───────────────────────────────────────</option>
                    <option value="1">Salary</option>
                    <option value="2">Bank interest</option>
                    <option value="" disabled="disabled">───────────────────────────────────────</option>
                    <option value="3">Other incomes</option>
                  </select>
                </div>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-success">Create new category</button>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  Manage expenses categories
                </button>
              </h2>
              <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionSettingItem">
                <div class="accordion-body">
                  <div class="input-group mb-3">
                    <select class="form-select" aria-label="Default select example">
                      <option selected>Open this select menu</option>
                      <option value="" disabled="disabled">───────────────────────────────────────</option>
                      <option value="1">Food</option>
                      <option value="2">Flat</option>
                      <option value="3">Transport</option>
                      <option value="4">Telecommunication</option>
                      <option value="5">Healthcare</option>
                      <option value="6">Clothing</option>
                      <option value="7">Hygiene</option>
                      <option value="8">Children</option>
                      <option value="9">Trips</option>
                      <option value="10">Entertainment</option>
                      <option value="11">Training</option>
                      <option value="12">Books</option>
                      <option value="13">Savings</option>
                      <option value="14">For a golden autumn, or retirement</option>
                      <option value="15">Repayment of debts</option>
                      <option value="16">Donation</option>
                      <option value="" disabled="disabled">───────────────────────────────────────</option>
                      <option value="17">Other expenses</option>
                    </select>
                  </div>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Edit</button>
                  <button type="button" class="btn btn-danger">Delete</button>
                  <button type="button" class="btn btn-success">Create new category</button>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                  Manage payment methods
                </button>
              </h2>
              <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionSettingItem">
                <div class="accordion-body">
                  <div class="input-group mb-3">
                    <select class="form-select" aria-label="Default select example">
                      <option selected>Open this select menu</option>
                      <option value="" disabled="disabled">───────────────────────────────────────</option>
                      <option value="1">Cash</option>
                      <option value="2">Debit card</option>
                      <option value="3">Credit card</option>
                    </select>
                  </div>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Edit</button>
                  <button type="button" class="btn btn-danger">Delete</button>
                  <button type="button" class="btn btn-success">Create new category</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}