{% extends "base.html" %}

{% block title %}Account registration{% endblock %}

{% block navigation %}
{% endblock %}

{% block body %}
<main>
  <section class="welcome-section">
    <header>
      <div class="welcome-banner">
        <h3 class="welcome-text">Welcome to the MyBudget app!</h3>
      </div>
    </header>
    <h3 class="action-question">What do you want to do now?</h3>
    <h4>Click one of the following options.</h4>
    <div class="row">
      <div class="col-lg-4">
        <div class="coins-container">
          <h3 class="action-title">Add income</h3>
          <a href="/income/new">
            <button class="action-button">
              <img class="coin-image" src="/images/golden-coin.png" alt="coin-img">
              <i class="income-icon fa-solid fa-piggy-bank"></i>
            </button>
          </a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="coins-container">
          <h3 class="action-title">Add expense</h3>
          <a href="/expenses">
            <button class="action-button">
              <img class="coin-image" src="/images/golden-coin.png" alt="coin-img">
              <i class="expense-icon fa-solid fa-sack-xmark"></i>
            </button>
          </a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="coins-container">
          <h3 class="action-title">View balance</h3>
          <a href="/balance">
            <button class="action-button">
              <img class="coin-image" src="/images/golden-coin.png" alt="coin-img">
              <i class="balance-icon fa-solid fa-scale-balanced"></i>
            </button>
          </a>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}