{% extends "base.html" %}

{% block title %}Adding incomes{% endblock %}

{% block navigation %}

<li class="nav-item">
  <a class="nav-link" href="/expenses"><i class="fa-solid fa-sack-xmark"></i> Add expense</a>
</li>

<li class="nav-item">
  <a class="nav-link" href="/balance"><i class="fa-solid fa-scale-balanced"></i> View balance</a>
</li>

{% endblock %}

{% block body %}
<main>
  <section class="template-section">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12 account-container active-account">
        <dl class="profile-container">
          <dt class="profile-title"><i class="fa-solid fa-check icon account-icon"></i>USER PROFILE</dt>
          <dd class="profile-element"><i class="fa-solid fa-user icon"></i>{{ current_user.username }}</dd>
          <dd class="profile-element"><i class="fa-solid fa-envelope icon"></i>{{ current_user.email }}</dd>
          <a class="profile-element" href="/profile/edit">Edit</a>
        </dl>
      </div>
    </div>
  </section>

  <section class="add-income-section">
    <h3 class="title-action">Enter incomes data:</h3>
    <div class="input-group mb-3 data-container">
      <span class="input-group-text data-form" id="basic-addon1"><i class="fa-solid fa-coins"
          style="color: #7c7c82;"></i>
      </span>
      <input type="number" min="0.01" step="0.01" class="form-control data-form" placeholder="Amount (PLN)"
        aria-label="Amount (PLN)" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3 data-container">
      <span class="input-group-text data-form" id="basic-addon2"><i class="fa-sharp fa-regular fa-calendar"
          style="color: #7c7c82;"></i>
      </span>
      <input type="date" class="form-control data-form" aria-label="Date" aria-describedby="basic-addon2"
        value="2023-03-20" min="2000-01-01">
    </div>

    <div class="input-group mb-3 data-container">
      <label class="input-group-text data-form" for="exampleFormControlSelect1"><i class="fa-solid fa-caret-down"
          style="color: #7c7c82;"></i>
      </label>
      <select class="form-control data-form " id="exampleFormControlSelect1">
        <option selected>Choose category...</option>
        <option value="" disabled="disabled">───────────────────────────────────────</option>
        <option value="salary">Salary</option>
        <option value="bank-interest">Bank interest</option>
        <option value="" disabled="disabled">───────────────────────────────────────</option>
        <option value="others">Other incomes</option>
      </select>
    </div>

    <div class="input-group mb-3 data-container">
      <label class="input-group-text data-form" id="basic-addon3" for="formControlTextarea1"><i
          class="fa-solid fa-pencil" style="color: #7c7c82;"></i></label>
      <textarea class="form-control data-form" id="formControlTextarea1" rows="3" placeholder="Type a comment..."
        resize="none"></textarea>
    </div>
    <div class="button-container" style="float: left;">
      <button type="button" class="btn btn-lg btn-danger sign-up-button">
        <i class="fa-solid fa-rectangle-xmark icon"></i>Cancel
      </button>
    </div>
    <div class="button-container" style="float: right;">
      <button type="button" class="btn btn-lg btn-success sign-up-button">
        <i class="fa-solid fa-square-check icon"></i>Confirm
      </button>
    </div>
  </section>
</main>
{% endblock %}