{% extends "base.html" %}

{% block title %}MyBudget{% endblock %}

{% block navigation %}
<ul class="navbar-nav d-flex flex-row ms-auto">
  <li class="nav-item">
    <a class="nav-link" href="contact"><i class="fa-solid fa-envelope"></i> Contact</a>
  </li>
</ul>
{% endblock %}

{% block body %}
<main>
  <section class="template-section">
    <!-- Title -->
    <div class="row">
      <div class="col-lg-6">
        <header>
          <h1 class="big-heading">Achieving Your<br>Financial Goals</h1>
        </header>
        <h3 class="title-description">
          Take your finances to the next level. Learn to make a budget that
          works for you, save for things that matter most, and invest with
          confidence.
        </h3>
        <div class="form-floating floating-label">
          <input type="email" class="form-control text-on-button" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating floating-label">
          <input type="password" class="form-control text-on-button" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
        <br>
        <a class="btn btn-lg btn-warning login-button" href="/start/home" role="button"><i
            class="fa-solid fa-right-to-bracket icon"></i> Sign in</a>
        <a class="password-question" href="new-password.html">Don't remember<br>your password?</a>
        <h3 class="account-question">Don't have an account yet?</h3>
        <a class="btn btn-lg btn-primary register-button" href="register" role="button"><i
            class="fa-solid fa-registered icon"></i> Register</a>
      </div>
      <div class="col-lg-6 parent">
        <img class="title-image clipped-image" src="/images/budget-bg.png" alt="title-img">
      </div>
      <svg style="visibility: hidden; position: absolute" width="0" height="0" xmlns="http://www.w3.org/2000/svg"
        version="1.1">
        <defs>
          <filter id="goo">
            <feGaussianBlur in="SourceGraphic" stdDeviation="20" result="blur">
            </feGaussianBlur>
            <feColorMatrix in="blur" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo">
            </feColorMatrix>
            <feComposite in="SourceGraphic" in2="goo" operator="atop">
            </feComposite>
          </filter>
        </defs>
      </svg>
    </div>
  </section>
</main>
{% endblock %}