{% extends "base.html" %}

{% block title %}Sign up{% endblock %}

{% block navigation %}
{% endblock %}

{% block body %}
<main>
    <section class="template-section">
        <div class="row justify-content-center notification-container">
            <h3 class="notification-title">Sign up</h3>
            <div class="col-lg-6 alert alert-success">
                <p class="alert-text notification">Success! Your account is now active. You can now <a href="/login">log in</a>.</p>
            </div>
        </div>
    </section>
</main>
{% endblock %}