{% extends "base.html" %}

{% block title %}Account registration{% endblock %}

{% block footer %}
<script src="/js/hideShowPassword.min.js"></script>

<script>
  $.validator.addMethod('validPassword',
    function (value, element, param) {
      if (value != '') {
        if (value.match(/.*[a-z]+.*/i) == null) {
          return false;
        }
        if (value.match(/.*\d+.*/) == null) {
          return false;
        }
      }
      return true;
    },
    'Must contain at least one letter and one number'
  );

  $(document).ready(function () {
    /**
     * Validate the form
     */
    $('#formSignup').validate({
      rules: {
        name: 'required',
        email: {
          required: true,
          email: true,
          remote: '/account/validate-email'
        },
        password: {
          required: true,
          minlength: 6,
          validPassword: true
        }
      },
      messages: {
        email: {
          remote: 'Email already taken'
        }
      }
    });

    /**
     * Show password toggle button
     */
    $('#inputPassword').hideShowPassword({
      show: false,
      innerToggle: 'focus'
    });
  });
</script>
{% endblock %}


{% block navigation %}
<ul class="navbar-nav d-flex flex-row ms-auto">
  {% if session.user_id %}
  <li class="nav-item">
      <a class="nav-link" href="/start"><i class="fa-solid fa-house"></i> Home</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Log out</a>
    </li>
  {% else %}
  <li class="nav-item">
      <a class="nav-link" href="/"><i class="fa-solid fa-house"></i> Home</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="/login"><i class="fa-solid fa-user"></i> Log in</a>
  </li>
  {% endif %}
<li class="nav-item">
    <a class="nav-link" href="/contact"><i class="fa-solid fa-envelope"></i> Contact</a>
  </li>
</ul>
{% endblock %}

{% block body %}
<main>
  <div class="image-border">
    <section class="register-section">
      <header>
        <h2 class="register-title">Account Registration</h2>
      </header>

      {% if user.errors is not empty %}
      <p>Errors:</p>
      <ul>
        {% for error in user.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}

      <form action="/register/create" method="post" id="formSignup">
        <div class="input-group mb-3 data-container">
          <label class="input-group-text data-form" for="inputUsername"><i class="fa-solid fa-user"
              style="color: #7c7c82;"></i></label>
          <input class="form-control data-form" type="text" id="inputUsername" name="username" placeholder="Username"
            aria-label="Username" value="{{ user.username }}" required>
        </div>
        <div class="input-group mb-3 data-container">
          <label class="input-group-text data-form" for="inputEmail"><i class="fa-solid fa-at"
              style="color: #7c7c82"></i></label>
          <input class="form-control data-form" type="email" id="inputEmail" name="email" placeholder="Email"
            aria-label="Email" value="{{ user.email }}" required>
        </div>
        <div class="input-group mb-3 data-container">
          <label class="input-group-text data-form" for="inputPassword"><i class="fa-solid fa-lock"
              style="color: #7c7c82"></i></label>
          <input class="form-control data-form" type="password" id="inputPassword" name="password"
            placeholder="Password" aria-label="Password" required>
        </div>
        <div class="input-group mb-3 data-container">
          <label class="input-group-text data-form" for="inputRepeatPassword"><i class="fa-solid fa-lock"
              style="color: #7c7c82"></i></label>
          <input class="form-control data-form" type="password" id="inputRepeatPassword" name="password_confirmation"
            placeholder="Repeat password" aria-label="Repeat password" required>
        </div>
        <div class="button-container" style="float: left;">
          <button class="btn btn-lg btn-danger sign-up-button" type="reset">
            <i class="fa-solid fa-rectangle-xmark icon"></i>Cancel
          </button>
        </div>
        <div class="button-container" style="float: right;">
          <button class="btn btn-lg btn-success sign-up-button" type="submit">
            <i class="fa-solid fa-square-check icon"></i>Confirm
          </button>
        </div>
      </form>

    </section>
  </div>
</main>
{% endblock %}