{% extends "base.html" %}

{% block title %}Registration message{% endblock %}


{% block navigation %}
{% endblock %}

{% block body %}
<main>
  <div class="image-border">
    <section class="register-section">
      <header>
        <h3 class="register-title register-message">You have successfully registered!<br>Thank you for your trust.</h3>
        <h4 class="register-notification">Please check your email to activate your account.</h4>
      </header>
    </section>
  </div>
</main>
{% endblock %}