<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <!-- Favicon -->
    <link rel="icon" href="/favicon.ico">

    <!-- CSS Stylesheets -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;900&family=Ubuntu:wght@700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/a0c8ddef9e.js" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS Links & Scripts-->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script> -->

    <!-- Google pie-chart -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load("current", { packages: ["corechart"] });
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
        var income_data = google.visualization.arrayToDataTable([
            ['Income Category', 'Amount'],
              {% for incomeItem in balance_load.income_data %}
                ['{{ incomeItem.category }}', {{ incomeItem.amount }}],
              {% endfor %}
            ]);
        
        var expense_data = google.visualization.arrayToDataTable([
            ['Expense Category', 'Amount'],
            {% for expenseItem in balance_load.expense_data %}
              ['{{ expenseItem.category }}', {{ expenseItem.amount }}],
            {% endfor %}
            ]);
        
        var income_options = {
            backgroundColor: '#dff0d8',
            legend: { textStyle: { fontSize: '0.5rem', fontName: 'Montserrat' } },
            title: 'Your incomes over a selected period',
            titleTextStyle: {
              color: 'black',
              fontName: 'Montserrat',
              fontSize: '1rem',
              bold: true,
              italic: false
            },
            is3D: true,
            /*chartArea:{left:20,top:50,bottom:10,width:'100%',height:'100%'}*/
            /*chartArea: {width: 500, height: 500}*/
          };
        
        var expense_options = {
            backgroundColor: '#f2dede',
            legend: { textStyle: { fontSize: '0.5rem', fontName: 'Montserrat' } },
            title: 'Your expenses over a selected period',
            titleTextStyle: {
              color: 'black',
              fontName: 'Montserrat',
              fontSize: '1rem',
              bold: true,
              italic: false
            },
            is3D: true,
          };
        
        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d_incomes'));
        chart.draw(income_data, income_options);
        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d_expenses'));
        chart.draw(expense_data, expense_options);
        }
    </script>
</head>

<body>
    <div class="navbar-section">
        <!-- Nav Bar -->
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand app-title" href="/">MyBudget</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"      data-bs-target="#navbarTogglerNav" aria-controls="#navbarTogglerNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerNav">
                   
                <form class="d-flex">
                    <script async src="https://cse.google.com/cse.js?cx=e4beae2c3771e4ce6"></script>
                    <div class="gcse-search"></div>                    
                </form>
    
                    {% if current_user %}
                    <ul class="navbar-nav d-flex ms-auto">
                        {% else %}
                        <ul class="navbar-nav d-flex flex-row ms-auto">
                            {% endif %}
                            <li class="nav-item">
                                {% if current_user %}
                                <a class="nav-link" href="/start"><i class="fa-solid fa-house"></i> Home</a>
                                {% else %}
                                <a class="nav-link" href="/"><i class="fa-solid fa-house"></i> Home</a>
                                {% endif %}
                            </li>

                            {% block navigation %}
                            {% endblock %}

                            {% if current_user %}

                            <li class="nav-item">
                                <a class="nav-link" href="/contact"><i class="fa-solid fa-envelope"></i> Contact</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#settingsModal"><i
                                        class="fa-solid fa-gear"></i>
                                    Settings</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Log
                                    out</a>
                            </li>
                        </ul>

                        {% else %}

                        <li class="nav-item">
                            <a class="nav-link" href="/contact"><i class="fa-solid fa-envelope"></i> Contact</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/login"><i class="fa-solid fa-user"></i> Log in</a>
                        </li>
                    </ul>

                    {% endif %}

                    {% if current_user %}
                    <form class="d-flex col-lg-3" method="post" action="/search/display-result">
                        <input class="form-control me-1 search-form" type="search" placeholder="Search for record" name="keyword">
                        <button class="btn btn-outline-light search-button" type="submit" placeholder="Search" name="submit">
                            Search
                        </button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </nav>
        <hr class="dividing-line">
    </div>

    <section class="login-section">
        <div class="row justify-content-center">
            {% for message in flash_messages %}
            <div class="col-lg-6 alert alert-{{ message.type }}">
                <h4 class="alert-text">{{ message.body }}</h4>
            </div>
            {% endfor %}
        </div>
    </section>

    <aside>
        {% if current_user %}
        <section class="template-section">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <button class="btn btn-primary profile-button" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Expand user
                        profile view</button>

                    <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1"
                        id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
                        <div class="offcanvas-header profile-container">
                            <dt class="offcanvas-title profile-title" id="offcanvasWithBothOptionsLabel"><i
                                    class="fa-solid fa-check icon account-icon"></i> USER PROFILE</dt>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <dl class="profile-container">
                                <dd class="profile-element"><i class="fa-solid fa-user icon"></i>{{
                                    current_user.username }}
                                </dd>
                                <dd class="profile-element"><i class="fa-solid fa-envelope icon"></i>{{
                                    current_user.email
                                    }}</dd>
                                <a class="profile-element" href="/profile/edit">Edit</a>
                            </dl>
                        </div>
                    </div>
                </div>

                {% if current_url == "/balance/summary" or current_url == "/balance/summary-previous-month" or
                current_url == "/balance/summary-current-year" or current_url == "/balance/summary-selected-period" %}
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="dropdown">
                        <button type="button" class="btn btn-primary dropdown-toggle dropdown-button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-regular fa-calendar icon"></i> Select time period
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item active" href="/balance/summary">Current month</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/balance/summary-previous-month">Previous month</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/balance/summary-current-year">Current year</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item" href="#" data-bs-toggle="modal"
                                    data-bs-target="#rangeTimeModal">Custom</a>
                            </li>
                        </ul>
                    </div>
                </div>
                {% endif %}
            </div>
        </section>
        {% endif %}
    </aside>

    {% block body %}
    {% endblock %}

    <footer class="footer-section">
        <div class="col-lg-3 col-md-4 col-sm-6">
            <p class="copyright">© Copyright 2023 PB</p>
            <hr class="horizontal-line1">
            <p class="copyright">® All rights reserved</p>
        </div>
    </footer>

    <!-- Modal -->
    <div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="settingsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title fs-5 settings-title" id="settingsModalLabel">Settings panel</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="accordion accordion-flush" id="accordionSettingItem">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    Change username
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                                data-bs-parent="#accordionSettingItem">
                                <div class="accordion-body">
                                    <form method="post" action="/profile/update" id="formEditIncome">
                                        <div class="input-group mb-3 data-container">
                                            <label class="input-group-text data-form" for="inputUsername"><i
                                                    class="fa-solid fa-user" style="color: #7c7c82;"></i>
                                            </label>
                                            <input type="text" id="inputUsername" name="username"
                                                class="form-control data-form" placeholder="Username"
                                                aria-label="Username" required>
                                            <input type="hidden" name="email" value="{{ current_user.email }}">
                                            <input type="hidden" name="password" value="{{ current_user.password }}">
                                        </div>
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-success">Confirm</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Change email address
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                                data-bs-parent="#accordionSettingItem">
                                <div class="accordion-body">
                                    <form method="post" action="/profile/update" id="formEditIncome">
                                        <div class="input-group mb-3 data-container">
                                            <span class="input-group-text data-form" for="inputEmail"><i
                                                    class="fa-solid fa-at" style="color: #7c7c82"></i></span>
                                            <input type="text" id="inputEmail" name="email"
                                                class="form-control data-form" placeholder="Email" aria-label="Email"
                                                required>
                                            <input type="hidden" name="username" value="{{ current_user.username }}">
                                            <input type="hidden" name="password" value="{{ current_user.password }}">
                                        </div>
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-success">Confirm</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Change password
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingThree" data-bs-parent="#accordionSettingItem">
                                <div class="accordion-body">
                                    <form id="formRenamePassword" action="/password/rename-password" method="post">
                                        <div class="input-group mb-3 data-container" id="show_hide_password1">
                                            <label class="input-group-text data-form" for="inputPassword"><i
                                                    class="fa-solid fa-lock" style="color: #7c7c82"></i></label>
                                            <input type="password" id="inputPassword" name="old_password"
                                                class="form-control password-form" placeholder="Enter previous password"
                                                aria-label="password" required>
                                            <label class="input-group-text data-form">
                                                <a href=""><span class="fa-solid fa-eye-slash" id="show_hide_password1"
                                                        aria-hidden="true" style="color: #7c7c82"></span></a>
                                            </label>
                                        </div>
                                        <div class="input-group mb-3 data-container" id="show_hide_password2">
                                            <label class="input-group-text data-form" for="inputPassword"><i
                                                    class="fa-solid fa-lock" style="color: #7c7c82"></i></label>
                                            <input type="password" id="inputPassword" name="password"
                                                class="form-control password-form" placeholder="Enter new password"
                                                aria-label="password" required>
                                            <label class="input-group-text data-form">
                                                <a href=""><span class="fa-solid fa-eye-slash" id="show_hide_password2"
                                                        aria-hidden="true" style="color: #7c7c82"></span></a>
                                            </label>
                                        </div>
                                        <div class="input-group mb-3 data-container" id="show_hide_password3">
                                            <label class="input-group-text data-form" for="inputPassword"><i
                                                    class="fa-solid fa-lock" style="color: #7c7c82"></i></label>
                                            <input type="password" id="inputPassword" name="password_confirmation"
                                                class="form-control password-form" placeholder="Repeat password"
                                                aria-label="password" required>
                                            <label class="input-group-text data-form">
                                                <a href=""><span class="fa-solid fa-eye-slash" id="show_hide_password3"
                                                        aria-hidden="true" style="color: #7c7c82"></span></a>
                                            </label>
                                        </div>
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-success">Confirm</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    Manage incomes categories
                                </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingFour" data-bs-parent="#accordionSettingItem">
                                <div class="accordion-body">
                                    <form action="/profit/select-category" method="get">
                                        <div class="input-group mb-3">
                                            <select class="form-select" name="name" aria-label="Default select example">
                                                <option value="" selected>Open this select menu</option>
                                                <option value="" disabled="disabled">
                                                    ───────────────────────────────────────
                                                </option>
                                                {% if income.income_names is not empty %}
                                                {% set otherIncomeName = "" %}
                                                {% for incomeName in income.income_names %}
                                                {% if incomeName != "Other incomes" %}
                                                <option value="{{ incomeName }}">{{ incomeName }}</option>
                                                {% else %}
                                                {% set otherIncomeName = incomeName %}
                                                {% endif %}
                                                {% endfor %}
                                                <option value="" disabled="disabled">
                                                    ───────────────────────────────────────
                                                </option>
                                                <option value="{{ otherIncomeName }}">{{ otherIncomeName }}</option>
                                                {% endif %}
                                            </select>
                                        </div>
                                        <button name="action" type="submit" value="edit"
                                            class="btn btn-primary">Edit</button>
                                        <button name="action" type="submit" value="delete"
                                            class="btn btn-danger">Delete</button>
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                    </form>
                                    <hr class="horizontal-line">
                                    <form method="post" action="/profit/create-category" id="formCreateIncome">
                                        <div class="input-group mb-3 data-container">
                                            <label class="input-group-text data-form" for="inputNewCategory"><i
                                                    class="fa-solid fa-list" style="color: #7c7c82;"></i>
                                            </label>
                                            <input type="text" id="inputNewCategory" name="incomeCategory"
                                                class="form-control data-form" placeholder="New income category"
                                                aria-label="New income category" required>
                                        </div>
                                        <button type="submit" class="btn btn-success">Create new
                                            category</button>
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                    </form>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingFive">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseFive" aria-expanded="false"
                                        aria-controls="collapseFive">
                                        Manage expenses categories
                                    </button>
                                </h2>
                                <div id="collapseFive" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingFive" data-bs-parent="#accordionSettingItem">
                                    <div class="accordion-body">
                                        <form action="/loss/select-category" method="get">
                                            <div class="input-group mb-3">
                                                <select class="form-select" name="name"
                                                    aria-label="Default select example">
                                                    <option value="" selected>Open this select menu</option>
                                                    <option value="" disabled="disabled">
                                                        ───────────────────────────────────────
                                                    </option>
                                                    {% if expense.expense_names is not empty %}
                                                    {% set otherExpenseName = "" %}
                                                    {% for expenseName in expense.expense_names %}
                                                    {% if expenseName != "Other expenses" %}
                                                    <option value="{{ expenseName }}">{{ expenseName }}</option>
                                                    {% else %}
                                                    {% set otherExpenseName = expenseName %}
                                                    {% endif %}
                                                    {% endfor %}
                                                    <option value="" disabled="disabled">
                                                        ───────────────────────────────────────
                                                    </option>
                                                    <option value="{{ otherExpenseName }}">{{ otherExpenseName }}
                                                    </option>
                                                    {% endif %}
                                                </select>
                                            </div>
                                            <button name="action" type="submit" value="edit"
                                                class="btn btn-primary">Edit</button>
                                            <button name="action" type="submit" value="delete"
                                                class="btn btn-danger">Delete</button>
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                        </form>
                                        <hr class="horizontal-line">
                                        <form method="post" action="/loss/create-category" id="formCreateExpense">
                                            <div class="input-group mb-3 data-container">
                                                <label class="input-group-text data-form" for="inputNewCategory"><i
                                                        class="fa-solid fa-list" style="color: #7c7c82;"></i>
                                                </label>
                                                <input type="text" id="inputNewCategory" name="expenseCategory"
                                                    class="form-control data-form" placeholder="New expense category"
                                                    aria-label="New expense category" required>
                                            </div>
                                            <button type="submit" class="btn btn-success">Create new
                                                category</button>
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingSix">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                        Manage payment methods
                                    </button>
                                </h2>
                                <div id="collapseSix" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingSix" data-bs-parent="#accordionSettingItem">
                                    <div class="accordion-body">
                                        <form action="/loss/select-method" method="get">
                                            <div class="input-group mb-3">
                                                <select class="form-select" name="method"
                                                    aria-label="Default select example">
                                                    <option value="" selected>Open this select menu</option>
                                                    <option value="" disabled="disabled">
                                                        ───────────────────────────────────────</option>
                                                    {% if payment.payment_methods is not empty %}
                                                    {% for paymentMethod in payment.payment_methods %}
                                                    <option value="{{ paymentMethod }}">{{ paymentMethod }}</option>
                                                    {% endfor %}
                                                    <option value="" disabled="disabled">
                                                        ───────────────────────────────────────</option>
                                                    {% endif %}
                                                </select>
                                            </div>
                                            <button name="action" type="submit" value="edit"
                                                class="btn btn-primary">Edit</button>
                                            <button name="action" type="submit" value="delete"
                                                class="btn btn-danger">Delete</button>
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                        </form>
                                        <hr class="horizontal-line">
                                        <form method="post" action="/loss/create-method" id="formCreateMethod">
                                            <div class="input-group mb-3 data-container">
                                                <label class="input-group-text data-form" for="inputNewMethod"><i
                                                        class="fa-solid fa-list" style="color: #7c7c82;"></i>
                                                </label>
                                                <input type="text" id="inputNewMethod" name="paymentMethod"
                                                    class="form-control data-form" placeholder="New payment method"
                                                    aria-label="New payment method" required>
                                            </div>
                                            <button type="submit" class="btn btn-success">Create new
                                                payment method</button>
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>

    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
    </script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    {% block footer %}
    {% endblock %}

    <script>
        $(document).ready(function () {

            var userId = '{{ user.id }}';

            /**
             * Validate the form
             */
            $('#formProfile').validate({
                rules: {
                    name: 'required',
                    email: {
                        required: true,
                        email: true,
                        remote: {
                            url: '/account/validate-email',
                            data: {
                                ignore_id: function () {
                                    return userId;
                                }
                            }
                        }
                    },
                    old_password: {
                        minlength: 6
                    },
                    password: {
                        minlength: 6,
                        validPassword: true
                    },
                    password_confirmation: {
                        minlength: 6,
                        validPassword: true
                    }
                },
                messages: {
                    email: {
                        remote: 'Email already taken'
                    }
                }
            });

            // Show password toggle button

            /**$('#inputPassword').hideShowPassword({
                show: false,
                innerToggle: 'focus'
            });*/
        });

        $("#show_hide_password a").on('click', function (event) {
            event.preventDefault();
            if ($('#show_hide_password input').attr("type") == "text") {
                $('#show_hide_password input').attr('type', 'password');
                $('#show_hide_password span').addClass("fa-eye-slash");
                $('#show_hide_password span').removeClass("fa-eye");
            } else if ($('#show_hide_password input').attr("type") == "password") {
                $('#show_hide_password input').attr('type', 'text');
                $('#show_hide_password span').removeClass("fa-eye-slash");
                $('#show_hide_password span').addClass("fa-eye");
            }
        });

        $("#show_hide_password1 a").on('click', function (event) {
            event.preventDefault();
            if ($('#show_hide_password1 input').attr("type") == "text") {
                $('#show_hide_password1 input').attr('type', 'password');
                $('#show_hide_password1 span').addClass("fa-eye-slash");
                $('#show_hide_password1 span').removeClass("fa-eye");
            } else if ($('#show_hide_password1 input').attr("type") == "password") {
                $('#show_hide_password1 input').attr('type', 'text');
                $('#show_hide_password1 span').removeClass("fa-eye-slash");
                $('#show_hide_password1 span').addClass("fa-eye");
            }
        });

        $("#show_hide_password2 a").on('click', function (event) {
            event.preventDefault();
            if ($('#show_hide_password2 input').attr("type") == "text") {
                $('#show_hide_password2 input').attr('type', 'password');
                $('#show_hide_password2 span').addClass("fa-eye-slash");
                $('#show_hide_password2 span').removeClass("fa-eye");
            } else if ($('#show_hide_password2 input').attr("type") == "password") {
                $('#show_hide_password2 input').attr('type', 'text');
                $('#show_hide_password2 span').removeClass("fa-eye-slash");
                $('#show_hide_password2 span').addClass("fa-eye");
            }
        });

        $("#show_hide_password3 a").on('click', function (event) {
            event.preventDefault();
            if ($('#show_hide_password3 input').attr("type") == "text") {
                $('#show_hide_password3 input').attr('type', 'password');
                $('#show_hide_password3 span').addClass("fa-eye-slash");
                $('#show_hide_password3 span').removeClass("fa-eye");
            } else if ($('#show_hide_password3 input').attr("type") == "password") {
                $('#show_hide_password3 input').attr('type', 'text');
                $('#show_hide_password3 span').removeClass("fa-eye-slash");
                $('#show_hide_password3 span').addClass("fa-eye");
            }
        });

    </script>
</body>

</html>