{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block footer %}
{% endblock %}

{% block navigation %}
{% endblock %}

{% block body %}
<main>
    <section class="login-section">
        <div class="row justify-content-center">
            <div class="col-lg-6 login-border">
                <header>
                    <h2 class="edit-title">Profile</h2>
                </header>

                {% if user.errors is not empty %}
                <p class="error-message">Errors:</p>
                <ul>
                    {% for error in user.errors %}
                    <li class="error-message">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}

                <form id="formProfile" action="/profile/update" method="post">
                    <label for="inputUsername">Username</label>
                    <div class="input-group mb-3 data-container">
                        <label class="input-group-text data-form" for="inputUsername"><i class="fa-solid fa-user"
                                style="color: #7c7c82;"></i></label>
                        <input class="form-control data-form" type="text" id="inputUsername" name="username"
                            placeholder="Username" aria-label="Username" value="{{ user.username }}" required />
                    </div>

                    <label for="inputEmail">Email address</label>
                    <div class="input-group mb-3 data-container">
                        <label class="input-group-text data-form" for="inputEmail"><i class="fa-solid fa-at"
                                style="color: #7c7c82"></i></label>
                        <input class="form-control data-form" type="email" id="inputEmail" name="email"
                            placeholder="Email" aria-label="Email" value="{{ user.email }}" required />
                    </div>

                    <label for="inputPassword">Password</label>
                    <div class="input-group mb-3 data-container" id="show_hide_password">
                        <label class="input-group-text data-form"><i class="fa-solid fa-lock"
                                style="color: #7c7c82"></i></label>
                        <input class="form-control data-form" type="password" name="password" id="inputPassword"
                            placeholder="Password" aria-label="Password" aria-describedby="helpBlock" />
                        <label class="input-group-text data-form">
                            <a href=""><span class="fa-solid fa-eye-slash" id="show_hide_password" aria-hidden="true"
                                    style="color: #7c7c82"></span></a>
                        </label>
                    </div>
                    <span class="validating-notification" id="helpBlock">Leave blank to keep current
                        password</span><br>

                    <div class="edit-container">
                        <button class="btn btn-lg btn-success sign-up-button" type="submit">Save</button>
                        <a class="reset-password-question cancel-edit-profile" href="/profile/show">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>
{% endblock %}