{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block navigation %}
<ul class="navbar-nav d-flex flex-row ms-auto">
    <li class="nav-item">
        <a class="nav-link" href="/start"><i class="fa-solid fa-house"></i> Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Log out</a>
    </li>
</ul>
{% endblock %}

{% block body %}
<main>
    <section class="login-section">
        <div class="row justify-content-center">
            <div class="col-lg-6 login-border">
                <header>
                    <h3 class="notification-title">Profile</h3>
                </header>

                <dl>
                    <dt>Userame:</dt>
                    <dd>{{ user.username }}</dd>
                    <dt>Email:</dt>
                    <dd>{{ user.email }}</dd>
                </dl>

                <div class="edit-container">
                    <a class="reset-password-question edit-profile" href="/profile/edit">Edit</a>
                </div>
          
            </div>
        </div>
    </section>
</main>
{% endblock %}