{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block navigation %}
<ul class="navbar-nav d-flex flex-row ms-auto">
    <li class="nav-item">
        <a class="nav-link" href="/start"><i class="fa-solid fa-house"></i> Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Log out</a>
    </li>
</ul>
{% endblock %}

{% block body %}
<main>
    <section class="template-section">
        <div class="row justify-content-center notification-container">
            <h3 class="notification-title">Profile</h3>
            
        </div>
    </section>
</main>
{% endblock %}