{% extends "base.html" %}

{% block title %}Adding incomes{% endblock %}

{% block footer %}
<!-- <script>
  $(document).ready(function () {
    /**
     * Validate the form
     */
    $('#formAddIncome').validate({
      rules: {
        name: 'required',
        amount: {
          required: true,
        },
        name: {
          required: true,
        }
      },
      messages: {
        amount: {
          remote: 'Amount is required'
        },
        name: {
          remote: 'Selecting one of the categories is required'
        }
      }
    });
  });
</script> -->
{% endblock %}

{% block navigation %}

<li class="nav-item">
  <a class="nav-link" href="/loss/new"><i class="fa-solid fa-sack-xmark"></i> Add expense</a>
</li>

<li class="nav-item">
  <a class="nav-link" href="/balance/summary"><i class="fa-solid fa-scale-balanced"></i> View balance</a>
</li>

{% endblock %}

{% block body %}
<main>
  <section class="add-income-section">

    {% if income.errors is not empty %}
    <p class="error-message">Errors:</p>
    <ul>
      {% for error in income.errors %}
      <li class="error-message">{{ error }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <h3 class="title-action">Enter incomes data:</h3>

    <form method="post" action="/profit/add" id="formAddIncome">
      <div class="input-group mb-3 data-container">
        <label class="input-group-text data-form" for="inputAmount"><i class="fa-solid fa-coins"
            style="color: #7c7c82;"></i>
        </label>
        <input class="form-control data-form" type="number" id="inputAmount" name="amount" placeholder="Amount (PLN)"
          aria-label="Amount (PLN)" min="0.01" step="0.01" value="{{ income.amount }}">
      </div>

      <div class="input-group mb-3 data-container">
        <label class="input-group-text data-form" for="inputDate"><i class="fa-sharp fa-regular fa-calendar"
            style="color: #7c7c82;"></i>
        </label>
        <input class="form-control data-form" type="date" id="inputDate" name="date_of_income" aria-label="Date"
          value="{{ currentDate }}" min="2000-01-01" max="{{ currentDate }}">
      </div>

      <div class="input-group mb-3 data-container">
        <label class="input-group-text data-form" for="inputCategory"><i class="fa-solid fa-caret-down"
            style="color: #7c7c82;"></i>
        </label>
        <select class="form-control data-form" id="inputCategory" name="name">
          <option value="" selected>Choose category...</option>
          <option value="" disabled="disabled">───────────────────────────────────────</option>
          {% if income_load.income_names is not empty %}
          {% set otherIncomeName = "" %}
          {% for incomeName in income_load.income_names %}
          {% if incomeName != "Other incomes" %}
          <option value="{{ incomeName }}">{{ incomeName }}</option>
          {% else %}
          {% set otherIncomeName = incomeName %}
          {% endif %}
          {% endfor %}
          <option value="" disabled="disabled">───────────────────────────────────────</option>
          <option value="{{ otherIncomeName }}">{{ otherIncomeName }}</option>
          {% endif %}
        </select>
      </div>

      <div class="input-group mb-3 data-container">
        <label class="input-group-text data-form" for="inputTextComment"><i class="fa-solid fa-pencil"
            style="color: #7c7c82;"></i></label>
        {% if income.income_comment is not empty %}
        <textarea class="form-control data-form" id="inputTextComment" name="income_comment" rows="3"
          placeholder="Type a comment..." resize="none">{{ income.income_comment }}</textarea>
        {% else %}
        <textarea class="form-control data-form" id="inputTextComment" name="income_comment" rows="3"
          placeholder="Type a comment..." resize="none"></textarea>
        {% endif %}
      </div>
      <div class="input-group mb-3 data-container">
        <div class="button-container">
          <button type="reset" class="btn btn-lg btn-danger sign-up-button">
            <i class="fa-solid fa-rectangle-xmark icon"></i>Clear
          </button>
        </div>
        <div class="button-container">
          <button type="submit" class="btn btn-lg btn-success sign-up-button">
            <i class="fa-solid fa-square-check icon"></i>Confirm
          </button>
        </div>
      </div>
    </form>

  </section>
</main>
{% endblock %}